h1 {
    text-align: center;
}

h1 a {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    text-shadow: 1px 1px #9A4520;
    color: #33302B;
  }
  
h1 a:hover {
    text-shadow: 2px 2px #9A4520;
}
  
h1 a:visited {
    color: #33302B;
}